pkgbase = grimoire-git
	pkgdesc = Lightweight AUR helper that uses the official AUR git mirror
	pkgver = r280.g265bf62
	pkgrel = 1
	url = https://github.com/mackilanu/grimoire
	arch = any
	license = MIT
	depends = python
	depends = git
	provides = grimoire
	conflicts = grimoire
	source = grimoire-git::git+https://github.com/h8d13/grimoire.git#branch=dot-cache
	sha256sums = SKIP

pkgname = grimoire-git
