pkgbase = oprah-git-sys
	pkgdesc = Pacman hook that lists orphaned packages after each transaction
	pkgver = r2.g598ed87
	pkgrel = 1
	url = https://github.com/h8d13/oprah
	install = oprah.install
	arch = any
	license = 0BSD
	depends = pacman
	provides = oprah
	conflicts = oprah
	source = oprah-git-sys::git+https://github.com/h8d13/oprah.git
	sha256sums = SKIP

pkgname = oprah-git-sys
